<!-- About Ian page -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
            <h1 class="line-header">
                <%= @title %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            <img class='img-fluid' src='assets/ian.jpeg' alt='Ian Boothby'>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <p>
                 Ian Boothby s a multiple Shuster Award, Harvey Award and Eisner Award nominee and Eisner Award–winning comic book creator
                best known for his work as one of the main writers on Simpsons and Futurama Comics for Bongo. He is a well
                known stand-up comedian and improv artist working in Vancouver. He co-created the Jessie Award winning Free
                Willie Shakespeare for the Vancouver Theatersports League.
            </p>
            <p>
                Ian has written for several television series including CBC’s Switchback, Street Cents and Popular Mechanics for Kids. He
                is the creator of the sketch comedy series The 11th Hour, called "The funniest sketch series since SCTV” by the National
                Post as well as the creator of the TV pilots Space Arm,Vancouver PM and I Dig BC and the co-creator of Channel 92 along with
                Dean Haglund and Christine Lippa.
            </p>
            <p>
                He is the co-writer of the DVD film Casper’s Haunted Christmas. Ian founded the Canadian Comedy Award -winning sketch group
                Canadian Content. He currently performs with the sketch comedy group Titmouse! and hosts the stand up comedy show 'Amuse
                Bouche'. He appeared in the Adam Sandler film Happy GIlmore and the TV series 21 Jumpstreet.
            </p>
            <p>
                Boothby is married to Y the Last Man co-creator and artist Pia Guerra.
            </p>
         </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 twitter-container">
            <div class="row twitter-heading text-center">
                    <h3>Twitter</h3>
                    <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="row twitter-body">
                <ul>
                    <% cache('ian_public_tweets', expires_in: 6.hours) do %>
                        <% TwitterApi.ian_public_tweets.each do |tweet| %>
                            <li>
                                <%= parsed_tweet tweet %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

    <div class="row portfolio-cards">
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
            <div class='card'>
                <img class='card-img-top img-circle rounded img-fluid' src='assets/interviews-pia.jpg' alt='Card image'>
                <div class='card-body'>
                    <h4 class='card-title title'>Publishing</h4>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <button type='button' class='btn btn-primary'>View Publishing</button>
                </div>
            </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
            <div class='card'>
                <img class='card-img-top img-circle rounded img-fluid' src='assets/broadcasting-ian.jpg' alt='Card image'>
                <div class='card-body'>
                    <h4 class='card-title title'>Broadcasting</h4>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <button type='button' class='btn btn-primary'>View Broadcasting</button>
                </div>
            </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
            <div class='card'>
                <img class='card-img-top img-circle rounded img-fluid' src='assets/appearances-ian.jpg' alt='Card image'>
                <div class='card-body'>
                    <h4 class='card-title title'>Live Appearances</h4>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <p class='card-text'>
                        "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                    </p>
                    <button type='button' class='btn btn-primary'>View Appearances</button>
                </div>
            </div>
        </div>
    </div>
</div>