<!-- Pia About page -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
        <h1>
            <%= @title %>
        </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            <img class='img-fluid' src='assets/pia.jpeg' alt='Pia Guerra'>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <p>
            Pia Guerra is a Canadian comic book artist and cartoonist best known for her work as penciller and co-creator of DC/Vertigo's
            Y - The Last Man with writer Brian K. Vaughan. She is a regular contributor of political cartoons for the Nib,
            and has drawn spot cartoons for the New Yorker Magazine.
        </p>
        <p>
             She has won several awards including Spike TV’s Scream Award, a Harvey, a Shuster, and along with inker Jose Marzan Jr.
            two of the comic industry's top prize, the Eisner Award. She has also been nominated for numerous other awards including the Hugo and Prix Du Scenario from the
            Angoulême International Comics Festival.
        </p>
        <p>
            She has drawn stories for Hellblazer, Black Canary, Doctor Who, Torchwood,
            Simpson's Treehouse of Horror Comics, illustrated for White Wolf gaming manuals, produced storyboards for commercials
            and worked as a production designer on a sci-fi television pilot.
        </p>
        <p>
            Pia currently lives in Vancouver BC, and is married to the talented writer and comedian Ian Boothby.
        </p>
        </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <span>
                <h4>Twitter</h4>
                <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
            </span>
        </div>
    </div>

        <div class="row portfolio-cards">
            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
                <div class='card'>
                    <img class='card-img-top img-circle rounded img-fluid' src='assets/interviews-pia.jpg' alt='Card image'>
                    <div class='card-body'>
                        <h4 class='card-title title'>Interviews</h4>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <button type='button' class='btn btn-primary'>View Gallery</button>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
                <div class='card'>
                    <img class='card-img-top img-circle rounded img-fluid' src='assets/covers-pia.jpg' alt='Card image'>
                    <div class='card-body'>
                        <h4 class='card-title title'>Covers</h4>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <button type='button' class='btn btn-primary'>View Gallery</button>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 card-mobile'>
                <div class='card'>
                    <img class='card-img-top img-circle rounded img-fluid' src='assets/comics-pia.jpg' alt='Card image'>
                    <div class='card-body'>
                        <h4 class='card-title title'>Comics</h4>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <p class='card-text'>
                            "Vertigo's 'Last (Wo)Man' Standing : Pia Guerra Talks About Hit Series 'Y' Comic”
                        </p>
                        <button type='button' class='btn btn-primary'>View Gallery</button>
                    </div>
                </div>
            </div>
        </div>
</div>