<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
            <h1 class="line-header">
                Contact
            </h1>
        </div>
    </div>

    <div class="row portfolio-cards d-flex justify-content-center">
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <div class='card-body contact-body'>
                    <h3 class='card-title title'>Contact Details</h3>
                    <a href="mailto:hellkitty.studios@gmail.com"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i>hellkittystudios@gmail.com</a>
                    <a href="https://twitter.com/@PiaGuerra"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i>Twitter</a>
                    <a href="http://hkstudio.tumblr.com/"><i class="fa fa-lg fa-tumblr" aria-hidden="true"></i>Tumblr</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <div class='card-body contact-body'>
                    <h3 class='card-title title'>Commissions</h3>
                    <p class='card-text'>Pia does commissions of covers and comics.</p>
                    <p class='card-text'>Contact her for more information.</p>
                    <a href="mailto:hellkitty.studios@gmail.com"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i>hellkittystudios@gmail.com</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <div class='card-body contact-body'>
                    <h3 class='card-title title'>Agency</h3>
                    <p class='card-text'>Pia is represented by Comics Agency.</p>
                    <p class='card-text'>Contact Comics Agency for more information.</p>
                    <a href="mailto:hellkitty.studios@gmail.com"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i>agencystudios@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>