<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
            <h1 class="line-header">
                Store
            </h1>
        </div>
    </div>

    <div class="row portfolio-cards d-flex justify-content-center">
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <img class='img-fluid' src='assets/cadence-comics.jpg' alt='Card image'>
                <div class='card-body'>
                    <h3 class='card-title title'>Cadence Comic Art</h3>
                    <p class='card-text'>Pages for sale can now be found at Cadence Comic Art.</p>
                    <button type='button' class='btn btn-primary'>Visit Store</button>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <img class='img-fluid' src='assets/covers-pia.jpg' alt='Card image'>
                <div class='card-body'>
                    <h3 class='card-title title'>Spark Store</h3>
                    <p class='card-text'>Visit the Spark! Comics Store to view and buy Ian's work.</p>
                    <button type='button' class='btn btn-primary'>Visit Store</button>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <img class='img-fluid' src='assets/comissions.jpg' alt='Card image'>
                <div class='card-body'>
                    <h3 class='card-title title'>Commissions</h3>
                    <p class='card-text'>Pia does commissions at cons or through the mail. Contact her for rates.</p>
                    <button type='button' class='btn btn-primary'>Contact Pia</button>
                </div>
            </div>
        </div>
    </div>
</div>