/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap_overrides';
@import 'colours';
@import 'font-awesome';

@font-face {
    font-family: 'Bitter';
    src: url('/assets/bitter-regular-webfont.woff2') format('woff2'),
         url('/assets/bitter-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Bitter Bold';
    src: url('/assets/bitter-bold-webfont.woff2') format('woff2'),
         url('/assets/bitter-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/proxima-nova-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/assets/proxima-nova-bold-webfont.woff2') format('woff2'),
         url('/assets/proxima-nova-bold-webfont.woff2') format('woff2');
    font-weight:bold;
    font-style:normal;
}

$margin: 60px;

.navbar-brand img {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bitter', 'serif';
    font-weight: normal;
}
p {
    font-family: 'Proxima Nova', 'sans-serif';
    font-weight: normal;
}
body {
    background: $off-white;
}
.btn-primary {
    color: $white;
    &:hover{
        color:$white;
    }
}
hr {
    border: 1px solid $yellow;
    margin:0px;
}

.card-img-top{
    width:40%;
}
.portfolio-cards {
    margin-top:30px;
    margin-bottom: 30px;
    @include line-margin;
	&::after{
        @include line-divider-sm;
    }
    .card {
        margin-bottom:10px;
        background-color:$off-white;
        border: 1px solid $off-white;
        .fa {
            color: $yellow;
            padding:10px;
            &:hover {
                cursor: pointer;
                color: $dark-yellow;
            }
        }
    }
}

.featured {
    @include line-margin;
	&::after{
        @include line-divider-sm;
    }
}

.logos {
    justify-content: space-around;
    margin:$margin;
    .logo-img {
        width:20%;
        height:20%;
        padding:20px;
    }
}

.announcements{
    margin-top: $margin;
    margin-bottom: $margin;
}
footer {
    background-color: $yellow;
    padding:$margin;
    margin-top:$margin;
    h4 {
        padding-right:10px;
    }
    .fa {
        color: $black;
        padding:10px;
        &:hover {
            cursor: pointer;
            color: $dark-yellow;
        }
    }
}

//mobile responsive
@media screen and (max-width: 568px){
    .card-mobile {
        width:95%;
        margin:10px;
    }
    .card-img-top {
        width: 100%;
        height: 200px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .banner {
        display:inline-block;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .filters {
        margin:10px;
    }
    .card-text {
        font-size:0.8rem;
    }
}
