/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap_overrides';
@import 'colours';

@font-face {
    font-family: 'Bitter';
    src: url('/assets/bitter-regular-webfont.woff2') format('woff2'),
         url('/assets/bitter-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Bitter Bold';
    src: url('/assets/bitter-bold-webfont.woff2') format('woff2'),
         url('/assets/bitter-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/proxima-nova-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/assets/proxima-nova-bold-webfont.woff2') format('woff2'),
         url('/assets/proxima-nova-bold-webfont.woff2') format('woff2');
    font-weight:bold;
    font-style:normal;
}


.navbar-brand img {
  width: 98px;
  height: 21px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bitter', 'serif';
    font-weight: normal;
}
p {
    font-family: 'Proxima Nova', 'sans-serif';
    font-weight: normal;
}
body {
    background: $off-white;
}
.btn-primary {
    color: $white;
}
hr {
    border: 1px solid $yellow;
    margin:0px;
}
