<footer>
    <div class="container">
        <div class="row d-flex justify-content-space-around">
            <h4>&copy;Hellkitty Studios</h4>
            <a href="http://hkstudio.tumblr.com/"><i class="fa fa-lg fa-tumblr" aria-hidden="true"></i></a>
            <a href="https://twitter.com/@PiaGuerra"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
            <a href="mailto:hellkitty3@hotmail.com"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>